.cardsContainer {
  background-color: white;
  display:block;
  margin: 250px auto;
  width: 600px;
  height: 250px;
  border: 2px solid #8170D8;
  border-radius: 15px;
}

.cardsContainer:hover{
  background-color: #DCD5FF;
}

/* Tag Styles */

.tag{
  display: inline-block;
  background-color: #579A52;
  color: white;
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 90%;
  height: 30px;
  

}

/* Header Style */

.header {
  font-weight: bold;
}

/* Description Styles */

.decription {
  color: rgb(200, 115, 115);
  height: 130px;
  width: 250px;
  
  
}