/* TODO Scroll transtion scroll directtion https://stackoverflow.com/questions/18481308/set-mouse-wheel-to-horizontal-scroll-using-css https://css-tricks.com/pure-css-horizontal-scrolling/ */

/* ::-webkit-scrollbar{width:81px;height:82px;} */
/* ::-webkit-scrollbar-button{width:2px;height:2px;} */

.layout{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position:fixed;
    display:flex;
    align-items: center;
    justify-content:center;
    background-color:blue;
}

.overflowx{
  width: 100%;
  height: 100%;
  background-color:red;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-270deg);
  /* transform-origin: left; */
  display: flex;
  flex-direction: column;
 
  /* align-items: center; */
  /* justify-content: center; */
  
  /* left: 50%; */
  /* position: fixed;
  top: 0;
  left: 0;
   */
}

.cardsContainer {
  background-color: white;
  display:block;
  margin-top: 150px;
  margin-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 427px;
  min-height: 200px;
  border: 2px solid #8170D8;
  border-radius: 10px;
  transform: rotate(270deg);
  /* transform-origin: top; */



}

.cardsContainer:hover{
  background-color: #DCD5FF;
}

/* Header Style */

.header {
  font-weight: bold;
  font-size: 1.3rem;
  margin-left: 15px;
  margin-top: 25px;
}

/* Description Styles */

.decription {
  font-size: 1.1rem;
  margin-left: 15px;
  
}

/* Tag Styles */

.tag{
  display: inline-block;
  background-color: #579A52;
  color: white;
  border-radius: 50px;
  padding-left: 17px;
  padding-right: 17px;
  height: 30px;
  margin-left: 15px;
  font-size: 1rem;
  font-weight: lighter;
  

}
