

.layout{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position:fixed;
    display:flex;
    align-items: center;
    justify-content:center;
    background-color: #C4D7ED;
    
}

/* Color pattern https://colordesigner.io/#E1E6FA-C4D7ED-ABC8E2-375D81-183152 */

.sign_desktop{
  position: absolute;
  top: 3%;
  font-weight: bold;
  font-size: 1rem;
  color: #183152;
  z-index: 2;
 
}

.sign_mobile{
  display:none;
}

.link_socials{
  color: #375D81;
  font-size: 1rem;
  margin-left: 85px;
  display: block;
  margin-bottom: 4px;
}

.link_socials:hover{
  color:#815b37;
}


.overflowx{
 /*  width: 500px;
  height: 900px; */
   width: 500px;
  height: 950px;
  background-color: white;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-270deg);
  /* padding:50px; */
  padding-top: 57px;
  /* transform-origin: left; */
  display: flex;
  flex-direction: column;
 
  /* align-items: center; */
  /* justify-content: center; */
  
  /* left: 50%; */
  /* position: fixed;
  top: 0;
  left: 0;
   */
}

.cardsContainer {
  background-color: white;
  display:block;
  margin-top: 130px;
  margin-bottom: 180px;
  /* margin-left: -17px; */
  margin-right: 44px;
  min-width: 450px;
  min-height: 167px;
  border: 2px solid #8170D8;
  border-radius: 10px;
  transform: rotate(270deg);
  /* transform-origin: top; */

}

.cardsContainer:hover{
  background-color: #DCD5FF;
}

/* Header Style */

.header {
  font-weight: bold;
  font-size: 1.3rem;
  margin-left: 15px;
  margin-top: 25px;
}

/* Description Styles */

.decription {
  font-size: 1.1rem;
  margin-left: 15px;
  
}

/* Tag Styles */

.tag{
  display: inline-block;
  background-color: #579A52;
  color: white;
  border-radius: 50px;
  padding-left: 17px;
  padding-right: 17px;
  /* padding-top: 1px; */
  padding-bottom: 2px;
  margin-left: 15px;
  font-size: 1rem;
  font-weight: lighter;

}

@media screen and (max-width: 1024px) {


.sign_desktop{
  display:none;
}

.sign_mobile{
  font-weight: bold;
  font-size: 1rem;
  color: #183152;
  display:block;
  background-color: #C4D7ED;
  height: 100%;
  width: 100%;
  margin-bottom: 15px;
}

.sign_mobile_container{
  max-width: 320px;
  margin: 10px auto;
  
}

.link_socials{
  color: #375D81;
  margin-left: 77px;
}


.overflowx{

  width: 100%;
  height: 100%;
  background-color: white;
  transform: rotate(0deg);
  padding-top: 200px;
  padding-bottom: 200px;
  flex-direction: column-reverse;

 
}

.cardsContainer {
  margin: 10px 10px 20px;
  min-width: 337px;
  min-height: 167px;
  transform: rotate(0deg);
  /* transform-origin: top; */

}

.header {
  margin-left: 10px;
}

/* Description Styles */

.decription {
  margin-left: 10px;
  
}

/* Tag Styles */

.tag{
  margin-left: 10px;
}


}